<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/admin/admin-layout}">

<head>
    <title>Cập nhật</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Người dùng</h3>
            </div>
            <!-- Breadcrumb -->
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="/admin">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="/admin/user">Người dùng</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Cập nhật</a>
                </li>
            </ul>
        </div>
        <!-- Content -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
                        <div>
                            <h4 class="fw-bold mb-3">Cập nhật người dùng</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/user/update}" th:object="${userDTO}" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}" />
                        <input type="hidden" th:field="*{balance}" />
                        <div class="row mb-3">
                            <div class="col col-md-6">
                                <label class="form-label">Tên đăng nhập</label>
                                <input type="text" th:field="*{username}" class="form-control"
                                    th:classappend="${#fields.hasErrors('username')}? 'is-invalid' : ''"
                                    autocomplete="off" />
                                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                    class="invalid-feedback"></div>
                            </div>
                            <div class="col col-md-6">
                                <label class="form-label">Email</label>
                                <input type="email" th:field="*{email}" class="form-control"
                                    th:classappend="${#fields.hasErrors('email')}? 'is-invalid' : ''"
                                    autocomplete="off" />
                                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                    class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col col-md-6">
                                <label class="form-label">Số điện thoại</label>
                                <input type="text" th:field="*{phone}" class="form-control"
                                    th:classappend="${#fields.hasErrors('phone')}? 'is-invalid' : ''"
                                    autocomplete="off" />
                                <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                                    class="invalid-feedback"></div>
                            </div>
                            <div class="col col-md-6">
                                <label class="form-label">Địa chỉ</label>
                                <input type="text" th:field="*{address}" class="form-control"
                                    th:classappend="${#fields.hasErrors('address')}? 'is-invalid' : ''"
                                    autocomplete="off" />
                                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                    class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col col-md-6">
                                <label class="form-label">Ngày sinh</label>
                                <input id="dateOfBirth" class="form-control" type="date" th:field="*{dateOfBirth}"
                                    th:classappend="${#fields.hasErrors('dateOfBirth')}? 'is-invalid' : ''" />
                                <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                    class="invalid-feedback">
                                </div>
                            </div>
                            <div class="col col-md-6">
                                <label class="form-label">Giới tính</label>
                                <select th:field="*{gender}" class="form-control"
                                    th:classappend="${#fields.hasErrors('gender')} ? 'is-invalid' : ''">
                                    <option value="">-- Chọn giới tính --</option>
                                    <option value="male">Nam</option>
                                    <option value="female">Nữ</option>
                                </select>
                                <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                    class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col col-md-6">
                                <label class="form-label">Trạng thái</label>
                                <select th:field="*{status}" class="form-control"
                                    th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' : ''">
                                    <option value="">-- Chọn trạng thái --</option>
                                    <option value="active">Hoạt động</option>
                                    <option value="banned">Bị khóa</option>
                                </select>
                                <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                    class="invalid-feedback"></div>
                            </div>
                            <div class="col col-md-6">
                                <label class="form-label">Vai trò</label>
                                <select th:field="*{roleId}" class="form-control"
                                    th:classappend="${#fields.hasErrors('roleId')} ? 'is-invalid' : ''">
                                    <option value="">-- Chọn vai trò --</option>
                                    <option value="1">Quản trị viên</option>
                                    <option value="2">Người dùng</option>
                                </select>
                                <div th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}"
                                    class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col col-md-6">
                                <label class="form-label">Ảnh đại diện</label>
                                <input class="form-control avatar-input" type="file" accept=".png, .jpg, .jpeg"
                                    name="user-avatar" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 d-flex justify-content-center">
                                <img class="img-fluid avatarPreview" style="max-height: 250px; display: none;"
                                    alt="avatar preview"
                                    th:src="${userDTO.avatar != null} ? '/common/avatar/' + @{${userDTO.avatar}} : ''" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning float-end">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>