<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/admin/admin-layout}">

<head>
    <title>Dashboard</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
            <div>
                <h3 class="fw-bold mb-3">Dashboard</h3>
            </div>
        </div>
        <!-- Content -->
        <div class="row">

        </div>
    </div>
</body>

</html>