<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - GroupLottery">GroupLottery</title>
    <link rel="stylesheet" th:href="@{/common/css/bootstrap.min.css}" />
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-light">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <th:block layout:fragment="content"></th:block>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>