<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - GroupLottery">GroupLottery</title>
    <link rel="stylesheet" th:href="@{/common/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" th:href="@{/common/css/util.css}" />
</head>

<body class="d-flex align-items-center justify-content-center vh-100 bg-light">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <th:block layout:fragment="content"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/common/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/admin/assets/js/core/popper.min.js}"></script>
    <script th:src="@{/common/js/bootstrap.min.js}"></script>

    <script th:src="@{/common/js/util.js}"></script>
    <script th:src="@{/common/js/main.js}"></script>

    <th:block layout:fragment="extra-js"></th:block>

</body>

</html>